*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #282c34;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
  padding-bottom: 1.5rem;
}

.main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-main {
  border: 3px solid blue;
  padding: 1rem;
  min-width: 350px;
}

.add-task {
  border: 3px solid lawngreen;
  padding: 1rem;
  margin-bottom: 1rem;
}

.add-task form {
  display: flex;
}

.add-task form input, .add-task form button {
  padding: 0.5em;
}

.task-list {
  border: 3px solid salmon;
  padding: 1rem;
}

input {
  margin-right: 0.5rem;
}

button {
  padding: 0.5rem;
}

.task-item form {
  display: flex;
}

.task-item {
  background-color: gray;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.done {
  display: none;
}
